<h1>Hello, world! Need a piggyback ride?</h1>
<%= image_tag 'driverpig.jpg', alt:"A tiny pig driving a tiny car", class:"driverpig" %>
<p>Photo by: <%= link_to "@abbylovephotography1", "https://www.instagram.com/abbylovephotography1/"%></p>
<span><%= link_to 'Manage Drivers', drivers_path %> | 
<%= link_to "Manage Passengers", passengers_path%></span>
