<h1>Hello, world! Need a ride?</h1>
<%= image_tag 'driverpig.jpg', alt:"A tiny pig driving a tiny car", class:"driverpig" %>
<span><%= link_to 'Manage Drivers', drivers_path %> | 
<%= link_to "Manage Passengers", passengers_path%></span>
