<h2>BIG LIST OF PASSENGERS</h2>
<%= link_to "CREATE NEW PASSENGER", new_passenger_path %>
<ul>
<%@passengers.each do |passenger| %>
    <li>
        <p>NAME:<%=link_to passenger.name, passenger_path(passenger.id)%></p>
        <p>PHONE NUMBER:<%=passenger.phone_num%></p>
    </li>
<%end%>
</ul>