<% if @driver.errors.messages.any? %>
  <section class = "error" >
    <span> Error occured </span>
    <ul>
      <% @driver.errors.messages.each do |column, problem_list| %>
        <% problem_list.each do |problem|%>
          <li>
            <%= column.upcase %>: <%= problem %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </section>
<% end %>