// Place all the styles related to the passengers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Arvo|Dosis');

$color-palette: #D4F2DB #CEF7A0 #BA9790 #914D76 #69353F;
$header-font-stack: 'Arvo', serif;
$main-font-stack: 'Dosis', sans-serif;